.navbar{
  margin-bottom:0;
  border:none;
}

.navbar-brand .glyphicon{
  margin-right:6px;
}

.hero{
  background-image:url(../../assets/img/bg-pattern.png);
  border:none;
  background:linear-gradient(181deg, #2f356c, #00aa88);
  -webkit-animation:AnimationName 5s ease infinite;
  -moz-animation:AnimationName 5s ease infinite;
  animation:AnimationName 5s ease infinite;
}

@media (min-width:992px) {
  .hero .get-it{
    text-align:right;
    margin-top:80px;
    padding-right:30px;
  }
}

@media (max-width:992px) {
  .hero .get-it{
    text-align:center;
  }
}

@media (max-width:992px) {
  .hero .phone-preview{
    text-align:center;
  }
}

.hero .get-it h1, .hero .get-it p{
  color:#fff;
  text-shadow:2px 2px 3px rgba(0,0,0,0.3);
  margin-bottom:20px;
}

.hero .get-it .btn{
  margin-left:25px;
  margin-bottom:10px;
  text-shadow:none;
  margin-right:5px;
}

div.iphone-mockup{
  position:relative;
  max-width:250px;
  margin:20px;
  display:inline-block;
}

.iphone-mockup img.device{
  width:100%;
  height:auto;
}

.iphone-mockup .screen{
  position:absolute;
  width:88%;
  height:77%;
  top:12%;
  border-radius:2px;
  left:6%;
  border:1px solid #444;
  background-color:#aaa;
  overflow:hidden;
  background:url(../../assets/img/screen-content-iphone-6.jpg);
  background-size:cover;
  background-position:center;
}

.iphone-mockup .screen:before{
  content:'';
  background-color:#fff;
  position:absolute;
  width:70%;
  height:140%;
  top:-12%;
  right:-60%;
  transform:rotate(-19deg);
  opacity:0.2;
}

.icon-feature{
  text-align:center;
}

.icon-feature .glyphicon{
  font-size:60px;
}

section.features{
  background-color:#369;
  padding:40px 0;
  color:#fff;
}

.features h2{
  color:#fff;
}

.features .icon-features{
  margin-top:15px;
}

.testimonials blockquote{
  text-align:center;
}

section.testimonials{
  margin:50px 0;
}

.site-footer{
  padding:px 0;
  text-align:center;
}

@media (min-width:768px) {
  .site-footer h5{
    text-align:left;
  }
}

.site-footer h5{
  color:inherit;
  font-size:20px;
}

.site-footer .social-icons a:hover{
  opacity:1;
}

.site-footer .social-icons a{
  display:inline-block;
  width:32px;
  border:none;
  font-size:20px;
  border-radius:50%;
  margin:4px;
  color:#fff;
  text-align:center;
  background-color:#798FA5;
  height:32px;
  opacity:0.8;
  line-height:32px;
}

@media (min-width:768px) {
  .site-footer .social-icons{
    text-align:right;
  }
}

.jumbotron p{
  margin-top:20px;
  margin-bottom:15px;
  font-size:21px;
  font-weight:200;
}

@media screen and (min-width:768px) {
  .jumbotron{
    padding-top:48px;
    padding-bottom:5px;
    margin-bottom:0px;
    background-color:inherit;
  }
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus{
  color:#555555;
  background-color:#c83771;
  border-color:#a2a2a2;
}

.btn-default:hover{
  color:#555555;
  background-color:#c83771;
  border-color:#c3c3c3;
}

.btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default{
  color:#555555;
  background-color:#c83771;
  border-color:#c3c3c3;
}

.btn-danger:hover{
  background-color:#ff1103;
  border-color:#de0c00;
}

.btn-danger:active, .btn-danger.active, .open > .dropdown-toggle.btn-danger{
  color:#ffffff;
  background-color:#ff1103;
  border-color:#de0c00;
}

.btn-danger:hover, .btn-danger:focus, .btn-group.open .dropdown-toggle.btn-danger{
  background-color:#ff4136;
  border-color:#ff291c;
}

.btn-danger:hover{
  color:#ffffff;
  background-color:#ff1103;
  border-color:#de0c00;
}

